@tailwind base;
@tailwind components;
@tailwind utilities;

.grid> div {
    grid-row : var(--r);
    grid-column : var(--c);
}

/* Custom Scrollbar *//* Custom Scrollbar */
 *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  *::-webkit-scrollbar-thumb {
    background: #1c1c1c;
    border-radius: 50px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #1c1c1c;
  }